<div class="counts__wrapper">
    <div class="counts__item">
        <div class="counts__content-wrapper"><span class="counts__content">126,300</span></div>
        <p class="counts__desc">Identity Theft Cases Reported in Australia</p>
    </div>
    <div class="counts__item">
        <div class="counts__content-wrapper">$<span class="counts__content">20.1</span>bn</div>
        <p class="counts__desc">Online Transactions per annum by Australians</p>
    </div>
    <div class="counts__item">
        <div class="counts__content-wrapper"><span class="counts__content">45,511</span></div>
        <p class="counts__desc">Online Fraud Cases Reported in Australia</p>
    </div>
</div>