<section class="feature__wrapper">
    <div class="feature__desc-wrapper">
        <h2 class="feature__title">Product Spotlight</h2>
        <p class="feature__desc">Salt mSign Connected Token is a contemporary mobile security 2FA token for authentication of user identity and verification of transactions independent of the delivery channel that initiated the request.</p>
        <a href="#" class="button feature__button">MORE INFO</a>
    </div>
    <div class="feature__video-wrapper">
        <img class="feature__img" src="../images/video-cont.jpg" alt="video"/></a>
    </div>
</section>