 <div class="main-screen__wrapper">

     <div class="swiper-container">
         <div class="swiper-wrapper">
             <div class="swiper-slide">
                <div class="swiper__content">
                    <div class="swiper__desc-wrapper">
                        <h2 class="swiper__title">Device Authentication</h2>
                        <p class="swiper__desc">SALT Group is a world leader in authentication and security.<br> We have a range of services to improve user authentication.<br> Discover the possibilities with SALT.</p>
                        <a href="#" class="button swiper__button">GET STARTED</a>
                    </div>
                    <div class="swiper__img-wrapper">
                        <img class="swiper__img" src="../images/swiper-slide1.png" alt="Slide"/></a>
                    </div>
                </div>

             </div>
             <div class="swiper-slide">
                 <div class="swiper__content swiper__content-2">
                     <div class="swiper__desc-wrapper">
                         <h2 class="swiper__title">Device Authentication</h2>
                         <p class="swiper__desc">SALT Group is a world leader in authentication and security.<br> We have a range of services to improve user authentication.<br> Discover the possibilities with SALT.</p>
                         <a href="#" class="button swiper__button">GET STARTED</a>
                     </div>
                     <div class="swiper__img-wrapper">
                         <img class="swiper__img" src="../images/swiper-slide1.png" alt="Slide"/></a>
                     </div>
                 </div>
             </div>
             <div class="swiper-slide">
                 <div class="swiper__content">
                     <div class="swiper__desc-wrapper">
                         <h2 class="swiper__title">Device Authentication</h2>
                         <p class="swiper__desc">SALT Group is a world leader in authentication and security.<br> We have a range of services to improve user authentication.<br> Discover the possibilities with SALT.</p>
                         <a href="#" class="button swiper__button">GET STARTED</a>
                     </div>
                     <div class="swiper__img-wrapper">
                         <img class="swiper__img" src="../images/swiper-slide1.png" alt="Slide"/></a>
                     </div>
                 </div>
             </div>
         </div>
         <!-- Add Pagination -->
         <div class="swiper-pagination"></div>
     </div>
     <div class="main-screen__bottom-wrapper">
         <span class="main-screen__bottom-desc">Find out more</span>
         <a href="#" class="main-screen__bottom-link"></a>
     </div>
    </div>
