.button
  color $whiteColorFont
  background-color $buttonOrangeBg
  font-family 'Proxima Nova'
  font-weight 500
  text-decoration none
  display inline-block
  padding 1.2em 3em
  font-size 0.78em
  border 1px solid $buttonOrangeBg
  border-radius 2px
  transition-property  background
  -webkit-transition-property background
  -moz-transition-property  background
  -o-transition-property background
  transition-duration 0.2s
  -moz-transition-duration 0.2s
  -o-transition-duration 0.2s
  -webkit-transition-duration 0.2s
  transition-timing-function ease
  -webkit-transition-timing-function ease
  -o-transition-timing-function ease
  -moz-transition-timing-function ease
  &:hover
    cursor pointer
    text-decoration none
    background none
    transition-property  background
    -webkit-transition-property background
    -moz-transition-property  background
    -o-transition-property background
    transition-duration 0.2s
    -moz-transition-duration 0.2s
    -o-transition-duration 0.2s
    -webkit-transition-duration 0.2s
    transition-timing-function ease
    -webkit-transition-timing-function ease
    -o-transition-timing-function ease
    -moz-transition-timing-function ease