body
  font-family 'Proxima Nova'
  font-weight 400
  font-size 16px
  background-color $whiteColorFont
  color $whiteColorFont
  margin 0
  min-width 280px
  overflow-x  hidden
  &.open-modal
    overflow hidden
    padding-right 17px


img
  border-style none
  max-width 100%
  height auto
  vertical-align middle

h1,h2,h3,h4,p
  margin 0
  padding 0
