$whiteColorFont = #fff
$purpleColorFont = #7050e5
$buttonOrangeBg = #ff8b00

@font-face
  font-family 'Proxima Nova'
  src url('../fonts/ProximaNovaRegular.otf')
  font-weight 400
  font-style normal

@font-face
  font-family 'Proxima Nova'
  src url('../fonts/ProximaNovaBold.otf')
  font-weight 500
  font-style normal

@font-face
  font-family 'Proxima Nova'
  src url('../fonts/ProximaNovaSemibold.otf')
  font-weight 700
  font-style: normal

@font-face
  font-family 'Raleway'
  src url('../fonts/Raleway-Light.ttf')
  font-weight 300
  font-style: normal

@font-face
  font-family 'Raleway'
  src url('../fonts/Raleway-Regular.ttf')
  font-weight 400
  font-style: normal

@font-face
  font-family 'Raleway'
  src url('../fonts/Raleway-SemiBold.ttf')
  font-weight 600
  font-style: normal

@font-face
  font-family 'Raleway'
  src url('../fonts/Raleway-ExtraBold.ttf')
  font-weight 700
  font-style: normal


border-radius-button(n)
  -webkit-border-radius n
  -moz-border-radius n
  border-radius n