.video__modal
  width 90%
  background #fff
  text-align center
  position fixed
  top 0
  bottom 0
  height 85%
  left 0
  right 0
  margin auto
  z-index 1000
  color #fff
  background rgba(0,0,0,0.8)
  border-radius 3px
  justify-content center
  align-items center
  display none

